.detail_container{
    width: 100%;
    padding: 20px;
    display: flex;
    .left_pane{
        width: 30%;
        min-width: 320px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .right_pane{
        width: 70%;
        padding: 0 20px;
        .top_block{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
        }
        .detail_wrap{
            padding: 0 0 20px;
        }
    }
}