@import "./variables.scss";
#root,
.project-wrapper {
    height: 100%;
    background-color: $primary;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

